#Canvas {

   margin-left: -40%;
}


.navbar a,
.sec-about p {
    text-align: center;
}
.navbar-brand img
{
   padding-top: 0;
}

.main-heading
{
    padding-top: 50px;
    padding-left: 20px;

}
.wrapper
{
    background-color: aliceblue;
}

.sec-main
{
    position: relative;
    height: 560px;
    background: url(Images/Main_Pic.jpg) no-repeat center center;
    background-size: contain;
}
.sec-about p
{
    margin-top: -30%;
    margin-right: -50%;
}

.navbar-header img
{

    margin-left:-80% !important;
    margin-top: -10% !important;
}
.strong
{
    padding-left: 50px;
    font-family:"Plantagenet Cherokee";
    font-size: 18px;
    font-weight: 300;
}
p{
    font-family:heading-font;
    font-size: 20px;
    font-weight: 300;

}
.hr
{
    color: black;

}

.soc-media-ul a
{
    text-align: center;
    text-decoration: none;
}

#footer
{
    background: #000;
    height: 50px;
}
.soc-media-ul
{
    margin-right: -5%;
    float: right;
    list-style: none;
    display: flex;
    justify-content: center;
}
.soc-media-ul li:not(:first-child) a
{
    margin-left: 1em;

}
.soc-media-ul a
{
    display: block;
    padding: 0.5em .65rem;
    font-size: 1rem;
    color: #fff;
    border-radius: 100%;
    border: 2px solid;
}
/*quotes*/
.strong
{
    float: left;
    color: lightgray;
    margin-left: -8%;
    font-family: cursive;
}

