body{
    background-color: forestgreen;
}

@font-face {
    font-family: 'MyWebFont';
     src: url('blackChanchery.ttf') format('truetype')
}

#map_canvas
{
    width:200px;
    height:200px;
}
.col-md-4 img{

    border: 5px solid black;

}
.contact
{
    display:inline-flex;
}

.navbar a,
.sec-about p {
    text-align: center;
}

#contact-div
{
    display: flex;
}
.navbar-brand img
{
   padding-top: 0;
}
#CON{
    display: inline-flex;
}
#map{

    padding-left: 100px;
    padding-top: -50px;
}

.main-heading
{
    padding-top: 50px;
    padding-left: 20px;

}
#arrow
{
    padding-top: 50px;
}
#column-contact
{
    padding: 0;
   margin-left: 900px;
}
#contact-info
{
    font-family: cursive;
    font-weight: bold;
    font-size: 20px;
}

.wrapper
{
    margin-left: 20px;
   margin-right: 20px;
    background-color:burlywood;
    border-radius: 20px;
}
#id{
    width: 190px;
    height: 200px;
    background:white;
}
.menu ul {
    list-style-type: none;
}
.menu li {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.circle
{
    border-color: black;
    border-radius: 140px;
    width: 140px;
    height: 140px;
    line-height: 140px;
    background:lightblue;
    margin-left: 75px;
}

.sec-main
{
    position: relative;
    height: 560px;
    background: url(Images/main_Banner.jpg) no-repeat center center;
    background-size: contain;
}
.sec-about p
{
    margin-top: -40px;
    margin-right: -50%;
}
.sec-folio
{
    padding-right: 50px;

}
.navbar-header img
{

    margin-left:-80% !important;
    margin-top: -10% !important;
}
.strong
{
    padding-left: 50px;
    font-family:"Plantagenet Cherokee";
    font-size: 18px;
    font-weight: 300;
}
p{
    font-family:heading-font;
    font-size: 20px;
    font-weight: 300;

}
.title{
    font-family: 'MyWebFont', Fallback, sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold;
    font-size: 50px;
}
.hr-sect
{
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: darkgreen;
    margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
    content: "";
    flex-grow: 1;
    background: darkgreen;
    height: 5px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
}

.soc-media-ul a
{
    text-align: center;
    text-decoration: none;
}

#footer
{
    background: #000;
    height: 100px;

}
.soc-media-ul
{
    margin-right: 0;
    float: right;
    list-style: none;
    display: flex;
    justify-content: center;
}
.soc-media-ul li:not(:first-child) a
{
    margin-left: 1em;

}
.soc-media-ul a
{
    display: block;
    padding: 0.5em .65rem;
    font-size: 1rem;
    color: #fff;
    border-radius: 100%;
    border: 2px solid;
}
/*quotes*/
.strong
{
    float: left;
    color: lightgray;
    margin-left: -6%;
    font-family: cursive;
}

/* some of these taken from different stack over flow*/